{% extends "base.html" %}
{% load humanize %}

{% block main %}
<div class='m-4'>

    <div class='p-4 w-75 bg-white' style='margin:25px auto;'>
        <h3 class='fst-italic text-muted border-bottom border-4 border-warning d-inline-block'>Developments</h3>

        {% for service in services %}
        <div class='p-3'>

            <h4 class='fw-bold py-1'>{{ service.name }}</h4>
            <h6 class='fw-bolder'>[使用言語等]</h6>
            <p>{% for skill in service.skills.all %}
            {{ skill }}{% if not forloop.last %}, {% endif %}
            {% endfor %}</p>
            <h6 class='fw-bolder'>[概要]</h6>
            <p>{{ service.outline|linebreaksbr }}</p>
            <h6 class='fw-bolder'>[制作において]</h6>
            <p>{{ service.description|linebreaksbr }}</p> 
            {% if service.service_url %}<a href='{{ service.service_url }}'><p>{{ service.service_url }}</p></a>{% endif %}
                {% if service.name == "Share Do（共有機能付きTodoリストアプリ）" %}
                <div class="m-2">--- サンプルID --------------<br>
                username: sample_user<br>
                email: sample@example.com<br>
                password: mypassdesu<br>
                -----------------------------
                </div>
                {% endif %}
            <a href='{{ service.code_url }}'><p>GitHub</p></a>
        </div>
        <hr style="color:#FDC10A; padding:3px;">
        {% endfor %}

    </div>

</div>
{% endblock %}